.App {
  margin: 2rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: start; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

table {
  width: "100%";
  border: 1px solid snow;
  table-layout: fixed;
}

td:first-child {
  border-right: 1px solid snow;
}
td {
  padding: 0.6rem;
  border-bottom: 1px solid snow;
}

tbody > tr:last-child > td {
  border-bottom: none;
}
th:first-child {
  border-right: 1px solid snow;
}
th {
  border-bottom: 1px solid snow;
}

.bold {
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
